.meme-thumbnail {
  height: 200px;
  width: 70%;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows:repeat(3, 1fr);
  background-color: rgba(170, 165, 165, 0.685);
  margin-bottom: 15px;
}

.thumbnail-header {
  align-self: start;
  grid-row: 1/2;
  grid-column: 1/9;
  border-style: solid;
  width: auto;
  background-color: rgb(191, 196, 191);
  border-color: rgb(163, 180, 163);
  padding-left: 15px;
}

.thumbnail-image-div {
  grid-row: 2/5;
  border-style: double;
  width: 125px;
  height: 125px;
}

.thumbnail-image {
  align-self: start;
  float: left;
  width: 125px;
  height: 125px;
  object-fit: cover;
}

.thumbnail-text-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 360px;
  height: 125px;
  justify-content: space-around;
  grid-column: 2/3;
  grid-row: 2/5;
  border-style: solid;
  border-color: rgba(150, 149, 149, 0.61);
  background-color: rgba(153, 153, 153, 0.548);
  
}

.top-text {
  grid-column: 1/5;
  grid-row: 1/2;
  left: 15px;
}

.bottom-text {
  grid-column: 1/5;
  grid-row: 3/4;
}


/*------- DELETE BUTTON ------------------------  */
.delete-btn-div {
  grid-column: 6/7;
  grid-row: 3/4;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
}

.delete-btn {
  display: block;
  width: 170px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.delete-btn span {
  position: relative;
  z-index: 2;
}

.delete-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.delete-btn:hover{
  color: #fff;
}

.delete-btn:hover:after{
  width: 100%;
}



/* ------------------- EDIT BUTTON --------------------------------------------*/
.edit-btn-div {
  grid-column: 5/6;
  grid-row: 3/4;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;

}

.edit-btn {
  display: block;
  width: 170px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.edit-btn span {
  position: relative;
  z-index: 2;
}

.edit-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #bfd309;
  transition: all .35s;
}

.edit-btn:hover{
  color: rgba(255, 7, 7, 0.575);
}

.edit-btn:hover:after{
  width: 100%;
}













